<!DOCTYPE HTML>

<html>
	<head>
    <title>REIMAGIN.AR PLAN PERSONAL</title>
    <link rel="icon" href="../icon.png">
    <meta property="og:title" content="Software Developer"> <meta property="og:image" content="images/avatar.jpg">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <script src="./assets/dist/sweet2.js"></script>

    
    <noscript><link rel="stylesheet" href="./assets/css/noscript.css" /></noscript>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-182735980-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-182735980-1');
    </script>
    <script src="./assets/dist/jquery.js"></script><!-- online jquery.js -->
    <script src="./assets/dist/handlebars.js"></script><!-- online handlebars.js-->

  </head>
  
	<body class="is-preload" id="entry-template">
    <div id="wrapper">
    </div>

    <!--template-->
    <script id="template" type="text/template">
      <section id="main">
        <button id="personalizar" style="border:none" onclick="editFunction()">⚙️</button>
        <header id="render-template">
          <span class="avatar"><img src="{{profile}}" alt="" /></span>
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          <p class="contacto">{{celular}}</p>
        </header>
        <footer>
          <ul class="icons">
            <li><a href="{{twitter}}" class="icon brands fa-twitter">Twitter</a></li>
            <li><a href="{{instagram}}" class="icon brands fa-instagram">Instagram</a></li>
            <li><a href="{{facebook}}" class="icon brands fa-facebook-f">Facebook</a></li>
          </ul>
        </footer>
        <p class="contacto">{{email}}</p>


      </section>
      <!-- Footer -->
      <footer id="footer">
        <ul class="copyright">
          {{#with watermark}}
          <li>&copy; REIMAGIN.AR</li><li>Design: <a href="http://reimagin.ar">REIMAGIN.AR</a></li>
          {{/with}}
        </ul>
      </footer>
    </script>
    
    <script>
  
    </script>
    <!--4. Handlebars.js slingshot -->
    <script>
      //4a.function creation
      const TEMPLATE_ID ="#template";
      const WRAPPER_ID="#wrapper";

       const renderTemplate = function (url) {
       $.getJSON(url, function(data) {
                var template = $(TEMPLATE_ID).html();
                var stone = Handlebars.compile(template)(data);
                $(WRAPPER_ID).append(stone);
       });
      }

      const renderJson = function (data) {
                var template = $(TEMPLATE_ID).html();
                var stone = Handlebars.compile(template)(data);
                $(WRAPPER_ID).html(stone);
      }
      const editFunction = async ()=>{
          const { value: text } =  await Swal.fire({
           width:"100%",
          input: 'textarea',
          inputLabel: 'Personalizar',
          inputValue: `
          {
            "title":"Lic. Lucia",
            "description":"Recruiter IT en Reimaginar Human Resources",
            "profile":"https://reimagin.ar/business/images/pic02.jpg",
            "facebook":"#",
            "twitter":"#",
            "instagram":"#",
            "celular":"+54 11-2253 5985",
            "email":"contacto@reimagin.ar",
            "watermark":true
          }`,
          inputAttributes: {
            'aria-label': 'Type your message here'
          },
          showCancelButton: false
        })

        if (text) {
          try{
            console.log(text);
            JSON.parse(text);
            renderJson(JSON.parse(text));
          }catch(e){
            alert("introdujo un JSON invalido !");
          }
        }
      }
      //4b.function firing
      renderTemplate('./assets/data.json'); 
      
      if ('addEventListener' in window) {
        window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
      }

       </script>

	</body>
</html>